* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(100, 100, 100);
  font-family: "Titillium Web";
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.801)),
    url("img/AdobeStock_76237574_Preview.jpeg");
  background-size: cover;
  background-position: unset;
  height: 100vh;
  background-attachment: fixed;
}

h1 {
  color: #fff;
  font-size: 80px;
  text-align: center;
  margin-top: 15%;
}

.row {
  max-width: 1704px;
}

.header img {
  height: 100%;
  width: auto;
  background: ;
}

.main-nav img {
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
}

.main-nav li {
  float: right;
  margin: 10px;
  border-bottom: 2px solid red;
  text-transform: uppercase;
  list-style-type: none;
}

.hero-text-box {
  padding-top: 100px;
}
