* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(100, 100, 100);
  font-family: "Titillium Web";
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

/* -------------------------------------------- */
/* ------------- HEADER -----------------*/
/* --------------------------------------------*/

header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.801),
      rgba(189, 31, 31, 0.795)
    ),
    url("img/CCScreens.jpg");
  background-size: cover;
  background-position: unset;
  height: 100vh;
  background-attachment: fixed;
}

h1 {
  color: #fff;
  font-size: 80px;
  text-align: center;
  margin-top: 15%;
}

.row {
  max-width: 1704px;
}
.main-nav {
  color: rgb(169, 226, 157);
}

.main-nav img {
  width: 75px;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.main-nav li {
  float: right;
  margin: 10px;
  text-transform: uppercase;
  list-style-type: none;
}

.hero-text-box {
  color: green;
  padding-top: 10px;
}

/* -------------------------------------------- */
/* ---------------- LINKS ------------------*/
/* --------------------------------------------*/

a:link,
a:visited {
  color: rgb(160, 42, 42);
  text-decoration: none;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: rgb(185, 56, 56);
  border-bottom: 2px solid transparent;
}

/* -------------------------------------------- */
/* -------------- BUTTONS --------------*/
/* --------------------------------------------*/

.hero-box-btn:link,
.hero-box-btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
}
