.section__about {
	background-image: linear-gradient(
		to right bottom,
		$color-primary,
		$color-white-faded
	);
	padding-bottom: 10rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: $deafult-gap;

	& h2 {
		grid-column: 2 / 4;
	}

	&--text {
		grid-row: 2 / 3;
		grid-column: 1 / 4;
		padding: 5rem;
		font-size: 2.3rem;
		letter-spacing: 0.4rem;

		& a {
			color: $color-white;
		}
		& a:hover,
		a:active {
			color: $color-primary-dark;
		}
	}

	&--img {
		grid-row: 2 / 3;
		grid-column: 4 / -1;
		width: 100%;
	}
}
