header {
	background-image: linear-gradient(#000000cc, #961826cc),
		url('img/CCScreens.jpg');
	background-size: contain;
	background-position: unset;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	overflow: hidden;
}
