header {
	background-image: linear-gradient($color-black-faded, $color-black-faded),
		url('/img/office.jpg');
	background-size: cover;
	background-position: unset;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	overflow: hidden;

	& button {
		font-size: 2rem;
	}
}

.header {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);
	align-items: center;
	justify-content: center;
	// .header__nav {
	// display: flex;
	// justify-content: flex-start;
	// align-items: center;
	// margin-left: 8rem;

	&__nav--logo {
		grid-column: 2 / 4;
		transform: translate(-10rem, 3rem);
		&-mobile {
			// width: 60px;
			// border-radius: 50%;
			// float: left;
			// margin-right: 5%;
			// margin-top: 4%;
			display: none;
		}

		&-main {
			margin-top: 0.8rem;
			width: 40rem;
			background-color: hsla(0, 5%, 11%, 0.5);
			border-radius: 50%;
		}
	}

	&__nav--menu {
		grid-column: 4 / -2;

		// &__nav-hamburger {
		// 	display: none;
		// }
		&-links {
			display: flex;
			justify-content: space-between;
			width: 60vw;
			margin-left: 5rem;
			font-size: 3rem;
			font-weight: 600;
			transform: translateY(3rem);
			transition: all 0.3s;

			& li {
				padding: 0 1rem;
				border-radius: 15%;
				// 	margin-left: 15rem;
			}
		}

		li:hover {
			transform: scale(115%) skewY(10deg);
			box-shadow: 2px 2px 10px $color-primary-light;
		}

		& a {
			color: $color-white;

			&:hover,
			&:active {
				color: $color-primary-light;
			}
		}
	}
}

.header__btn {
	justify-self: center;

	&--main {
		grid-column: 4 / span 2;
		grid-row: 8 / 9;
	}

	&--sec {
		grid-column: 6 / span 2;
		grid-row: 8 / 9;
	}
}

.heading__main {
	grid-column: 4 / 8;
	grid-row: 5 / 6;
	justify-self: center;
	color: $color-white;
	font-size: 3rem;
}
