.nav {
	display: flex;
	justify-content: flex-end;
}

.hamburger {
	background-color: #619e23;
	border-radius: 40px;
	width: 50px;
	padding: 2px;
	margin-top: 3%;
	position: fixed;
	z-index: 9999;
}

.mobile-nav {
	margin-top: 4.5rem;
	font-weight: 600;
	position: fixed;
	z-index: 9999;
}

.mobile-nav li {
	align-content: right;
	padding: 2px;
	border: 2px solid #619e23;
	background-color: #619e23b6;
	width: 5.5rem;
	text-transform: uppercase;
	list-style-type: none;
}

.mobile-nav a:link,
.mobile-nav a:visited {
	color: crimson;
}

.mobile-nav a:hover,
.mobile-nav a:active {
	color: #619e23;
	transition: border-bottom 0.2s, color 0.2s;
}
