.section__projects {
	display: grid;
	grid-template-columns: repeat(5, 19%) 5rem;
	grid-template-rows: 15rem repeat(5, 35rem);
	grid-gap: 2rem;
	background-color: $color-grey;
	color: $color-white;

	font-size: 2.4rem;

	& h2 {
		grid-column: 2 / span 3;
	}

	& p {
		padding-top: 5rem;
		padding-left: 3rem;
	}

	&--screenshot {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}

	&--bankist {
		grid-row: 2 / 3;
		&-desc {
			grid-column: 1 / 3;
		}
		&-img {
			grid-column: 3 / -2;
		}
	}
	&--bandit {
		grid-row: 3 / 4;
		&-desc {
			grid-column: 4 / -2;
		}
		&-img {
			grid-column: 1 / 4;
		}
	}
	&--mapty {
		grid-row: 4 / 5;
		&-desc {
			grid-column: 1 / 3;
		}
		&-img {
			grid-column: 3 / -2;
		}
	}
	&--forkify {
		grid-row: 5 / 6;
		&-desc {
			grid-column: 4 / -2;
		}
		&-img {
			grid-column: 1 / 4;
		}
	}
	&--omnifood {
		grid-row: 6 / 7;
		&-desc {
			grid-column: 1 / 3;
		}
		&-img {
			grid-column: 3 / -2;
		}
	}
}

.tools {
	&__html {
		background-color: hsla(0, 100%, 50%, 0.75);
	}
	&__css {
		background-color: hsla(218, 100%, 50%, 0.75);
	}
	&__js {
		background-color: hsla(60, 100%, 50%, 0.75);
	}
}
