.section__projects {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	grid-gap: 4rem;
	background-image: linear-gradient(
		to left bottom,
		$color-grey-light,
		$color-white-faded
	);
	color: $color-grey-dark;

	font-size: 2.4rem;

	@media only screen and (max-width: $bp-md) {
		grid-template-columns: 1fr;
		grid-template-rows: 8rem;
		justify-content: center;
	}

	// & h2 {
	// 	grid-column: 2 / 4;

	// 	@media only screen and (max-width: $bp-md) {
	// 		grid-column: 1 / 2;
	// 	}
	// }

	&--site {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 3rem;
		width: 90vw;

		&-logo {
			display: flex;
			justify-content: center;
			align-items: center;
			& img {
				border-radius: 50%;
				width: 20rem;
				box-shadow: 2rem 2rem 3rem $color-grey-faded;

				@media only screen and (max-width: $bp-md) {
					width: 13rem;
				}
			}
		}

		&-img {
			width: 60%;

			& img,
			& video {
				width: 90rem;
				border-radius: 2rem;
				box-shadow: 2rem 2rem 3rem $color-grey-faded;
			}
		}
		& p {
			letter-spacing: 0.1rem;
		}
	}
}

.tools {
	height: 2.5rem;
	&__html {
		border-radius: 0.5rem;
		padding: 2px;
		background-color: hsla(0, 100%, 50%, 0.75);
	}
	&__css {
		border-radius: 0.5rem;
		padding: 2px;
		background-color: hsla(218, 100%, 50%, 0.75);
	}
	&__js {
		border-radius: 0.5rem;
		padding: 2px;
		background-color: hsla(60, 100%, 50%, 0.75);
	}
	&__nodejs {
		border-radius: 0.5rem;
		padding: 2px;
		background-color: hsla(135, 97%, 37%, 0.75);
	}
	&__sass {
		border-radius: 0.5rem;
		padding: 2px;
		background-color: hsla(310, 90%, 62%, 0.75);
	}
	&__fb {
		border-radius: 0.5rem;
		padding: 2px;
		background-color: $color-facebook;
	}
	&__ig {
		border-radius: 0.5rem;
		padding: 2px;
		background-color: $color-social-ig;
	}
}
