.section__sites {
	display: flex;
	flex-direction: column;
	background-color: $color-white;

	& h2 {
		padding-left: 37rem;
	}

	& p {
		letter-spacing: 0.1rem;
	}

	&--text {
		align-self: center;
		padding: 10rem 0;
	}

	&--links {
		display: flex;
		justify-content: space-evenly;
		padding: 5rem 0;

		&-site {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			& img {
				border-radius: 50%;
			}
		}
	}
}

.mysg-img {
	transform: scale(125%);
}
