button {
	display: inline-block;
	border-radius: 200px;
	text-align: center;
	word-wrap: none;
	margin-top: 3rem;
	cursor: pointer;
}
.hero-button {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 1rem;
}

.hero-box-btn {
	color: #1b1b1b;
	background-color: #619e23;
	font-size: 0.9rem;
	font-weight: 700;
	width: 6em;
	height: 2.5em;
	justify-content: center;
}

.hero-box-btn:link,
.hero-box-btn:visited {
	font-weight: 300;
	text-decoration: none;
}
.hero-box-btn:hover,
.hero-box-btn:active {
	background-color: #4e801d;
}

.sec-button {
	padding-right: 0;
}

.secondary-btn {
	color: #619e23;
	background-color: #1b1b1b85;
	width: 5em;
	height: 2.2em;
}

.secondary-btn:hover,
.secondary-btn:active {
	background-color: #619e23cc;
	color: #1b1b1b;
}
